In [41]:
name_for_userid = { 1:"Alice",
                    2: "Bob",
                    3: "Divya"}

def greeting(userid):
    return ("Hi %s!" %name_for_userid.get(userid,"there"))

greeting(3)

'Hi Divya!'

In [42]:
greeting(45)

'Hi there!'

# DAY12

In [107]:
import pandas as pd
import numpy as np

df= pd.read_csv('sales_data_types.csv')

print(df)

   Customer Number     Customer Name          2016            2017  \
0            10002  Quest Industries  $125,000.00     $162,500.00
1           552278    Smith Plumbing  $920,000.00   $1,012,000.00
2            23477   ACME Industrial   $50,000.00      $62,500.00
3            24900        Brekke LTD  $350,000.00     $490,000.00
4           651029         Harbor Co   $15,000.00      $12,750.00

  Percent Growth Jan Units  Month  Day  Year Active
0         30.00%       500      1   10  2015      Y
1         10.00%       700      6   15  2014      Y
2         25.00%       125      3   29  2016      Y
3          4.00%        75     10   27  2015      Y
4        -15.00%    Closed      2    2  2014      N

In [108]:
print(df['2016']+df['2017'])

# this gives an output of concatenating of the strings as the dtype of the 
#associated df is an object and object is string in pandas so it performs 
#string operations instead of mathematical one

0      $125,000.00 $162,500.00
1    $920,000.00 $1,012,000.00
2        $50,000.00 $62,500.00
3      $350,000.00 $490,000.00
4        $15,000.00 $12,750.00
dtype: object

In [109]:
#so now the object datatype is to be convereted to numeric datatype
# initially find all the datatypes of the file
print(df.dtypes)

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [110]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
Customer Number    5 non-null int64
Customer Name      5 non-null object
2016               5 non-null object
2017               5 non-null object
Percent Growth     5 non-null object
Jan Units          5 non-null object
Month              5 non-null int64
Day                5 non-null int64
Year               5 non-null int64
Active             5 non-null object
dtypes: int64(4), object(6)
memory usage: 344.0+ bytes
None

In [111]:
# after using the df.info() function and df.dtypes function we can understand 

#that 2016 , 2017 columns are stored as 'objects' instead of numeric dtype

#percentage growth and Jan units are also stored as 'objects' instead of numeric type

#and Month,Day,Year columns should be 'datatime64'

#Active column should be boolean

#SO UNDER CLEANING THE DATA WE NEED TO ADDRESS THE ABOVE ISSUE SO THAT 
#FURTHER ANALYSIS OF THE DATA CAN BE TAKEN CARE

# In order to convert data types in pandas, 3 basic options as below are used:                          1) astype() to force an appropriate dtype   2)create a custom function to convert the data 3)use pandas functions such as to_numeric or to_datatime()

In [112]:
print(df.info())
print('\n\n', df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
Customer Number    5 non-null int64
Customer Name      5 non-null object
2016               5 non-null object
2017               5 non-null object
Percent Growth     5 non-null object
Jan Units          5 non-null object
Month              5 non-null int64
Day                5 non-null int64
Year               5 non-null int64
Active             5 non-null object
dtypes: int64(4), object(6)
memory usage: 344.0+ bytes
None


    Customer Number     Customer Name          2016            2017  \
0            10002  Quest Industries  $125,000.00     $162,500.00
1           552278    Smith Plumbing  $920,000.00   $1,012,000.00
2            23477   ACME Industrial   $50,000.00      $62,500.00
3            24900        Brekke LTD  $350,000.00     $490,000.00
4           651029         Harbor Co   $15,000.00      $12,750.00

  Percent Growth Jan Units  Month  Day  Year Active
0         30.00%       500      1   10  2015      Y
1         10.00%       700      6   15  2014      Y
2         25.00%       125      3   29  2016      Y
3          4.00%        75     10   27  2015      Y
4        -15.00%    Closed      2    2  2014      N

In [113]:
df['Customer Number'].astype('int')

0     10002
1    552278
2     23477
3     24900
4    651029
Name: Customer Number, dtype: int32

In [114]:
#these astype function returns a copy but does not actually change the type
# in the original dataframe

In [115]:
df['2016'] = df['2016'].astype('int')

ValueError: invalid literal for int() with base 10: '$125,000.00 '

In [116]:
print('\n\n', df)

    Customer Number     Customer Name          2016            2017  \
0            10002  Quest Industries  $125,000.00     $162,500.00
1           552278    Smith Plumbing  $920,000.00   $1,012,000.00
2            23477   ACME Industrial   $50,000.00      $62,500.00
3            24900        Brekke LTD  $350,000.00     $490,000.00
4           651029         Harbor Co   $15,000.00      $12,750.00

  Percent Growth Jan Units  Month  Day  Year Active
0         30.00%       500      1   10  2015      Y
1         10.00%       700      6   15  2014      Y
2         25.00%       125      3   29  2016      Y
3          4.00%        75     10   27  2015      Y
4        -15.00%    Closed      2    2  2014      N

# So, from the above examples it is evident that "astype() will work only if -the data is clean and can be simply inrepreted as a number -you want to convert numeric value to string object".        #As it is evident from above that all the values in the ['Active'] column are treated as True desipte last value being false. And value error is throw when we try to change dtype of 2016,2017 columns because of dollar sign and period sign in the values.

In [117]:
def convert_currency(val):
    new_val = val.replace(',','').replace('$','')
    return float(new_val)

In [118]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
Customer Number    5 non-null int64
Customer Name      5 non-null object
2016               5 non-null object
2017               5 non-null object
Percent Growth     5 non-null object
Jan Units          5 non-null object
Month              5 non-null int64
Day                5 non-null int64
Year               5 non-null int64
Active             5 non-null object
dtypes: int64(4), object(6)
memory usage: 344.0+ bytes
None

In [119]:
df['2016'] = df['2016'].apply(convert_currency)
df['2017'] = df['2017'].apply(convert_currency)
print(df.dtypes)

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [120]:
df['Percent Growth'] = df['Percent Growth'].apply(lambda x: x.replace('%','')).astype('float')/100

In [121]:
def convert_percent(val):
    new_val = val.replace('%','')
    return float(new_val)/100

In [122]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
Customer Number    5 non-null int64
Customer Name      5 non-null object
2016               5 non-null float64
2017               5 non-null float64
Percent Growth     5 non-null float64
Jan Units          5 non-null object
Month              5 non-null int64
Day                5 non-null int64
Year               5 non-null int64
Active             5 non-null object
dtypes: float64(3), int64(4), object(3)
memory usage: 404.0+ bytes
None

In [123]:
print(df['Active'])

0    Y
1    Y
2    Y
3    Y
4    N
Name: Active, dtype: object

In [134]:
print(df)

   Customer Number     Customer Name      2016       2017  Percent Growth  \
0            10002  Quest Industries  125000.0   162500.0            0.30
1           552278    Smith Plumbing  920000.0  1012000.0            0.10
2            23477   ACME Industrial   50000.0    62500.0            0.25
3            24900        Brekke LTD  350000.0   490000.0            0.04
4           651029         Harbor Co   15000.0    12750.0           -0.15

  Jan Units  Month  Day  Year Active
0       500      1   10  2015  False
1       700      6   15  2014  False
2       125      3   29  2016  False
3        75     10   27  2015  False
4    Closed      2    2  2014  False

In [133]:
import numpy as np
df["Active"] = np.where(df["Active"] == 'Y', "True",False')
print(df)

   Customer Number     Customer Name      2016       2017  Percent Growth  \
0            10002  Quest Industries  125000.0   162500.0            0.30
1           552278    Smith Plumbing  920000.0  1012000.0            0.10
2            23477   ACME Industrial   50000.0    62500.0            0.25
3            24900        Brekke LTD  350000.0   490000.0            0.04
4           651029         Harbor Co   15000.0    12750.0           -0.15

  Jan Units  Month  Day  Year Active
0       500      1   10  2015  False
1       700      6   15  2014  False
2       125      3   29  2016  False
3        75     10   27  2015  False
4    Closed      2    2  2014  False

In [135]:
print(df.dtypes)

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth     float64
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [136]:
df['Active'] = df['Active'].astype(bool)

In [137]:
print(df)

   Customer Number     Customer Name      2016       2017  Percent Growth  \
0            10002  Quest Industries  125000.0   162500.0            0.30
1           552278    Smith Plumbing  920000.0  1012000.0            0.10
2            23477   ACME Industrial   50000.0    62500.0            0.25
3            24900        Brekke LTD  350000.0   490000.0            0.04
4           651029         Harbor Co   15000.0    12750.0           -0.15

  Jan Units  Month  Day  Year  Active
0       500      1   10  2015    True
1       700      6   15  2014    True
2       125      3   29  2016    True
3        75     10   27  2015    True
4    Closed      2    2  2014    True

In [138]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
Customer Number    5 non-null int64
Customer Name      5 non-null object
2016               5 non-null float64
2017               5 non-null float64
Percent Growth     5 non-null float64
Jan Units          5 non-null object
Month              5 non-null int64
Day                5 non-null int64
Year               5 non-null int64
Active             5 non-null bool
dtypes: bool(1), float64(3), int64(4), object(2)
memory usage: 389.0+ bytes
None

In [140]:
import pandas as pd
pd.to_datetime(df[['Month','Day','Year']])

0   2015-01-10
1   2014-06-15
2   2016-03-29
3   2015-10-27
4   2014-02-02
dtype: datetime64[ns]

In [141]:
print(df)

   Customer Number     Customer Name      2016       2017  Percent Growth  \
0            10002  Quest Industries  125000.0   162500.0            0.30
1           552278    Smith Plumbing  920000.0  1012000.0            0.10
2            23477   ACME Industrial   50000.0    62500.0            0.25
3            24900        Brekke LTD  350000.0   490000.0            0.04
4           651029         Harbor Co   15000.0    12750.0           -0.15

  Jan Units  Month  Day  Year  Active
0       500      1   10  2015    True
1       700      6   15  2014    True
2       125      3   29  2016    True
3        75     10   27  2015    True
4    Closed      2    2  2014    True

In [144]:
df["Start_Date"] = pd.to_datetime(df[['Month','Day','Year']])
print(df)

   Customer Number     Customer Name      2016       2017  Percent Growth  \
0            10002  Quest Industries  125000.0   162500.0            0.30
1           552278    Smith Plumbing  920000.0  1012000.0            0.10
2            23477   ACME Industrial   50000.0    62500.0            0.25
3            24900        Brekke LTD  350000.0   490000.0            0.04
4           651029         Harbor Co   15000.0    12750.0           -0.15

  Jan Units  Month  Day  Year  Active Start_Date
0       500      1   10  2015    True 2015-01-10
1       700      6   15  2014    True 2014-06-15
2       125      3   29  2016    True 2016-03-29
3        75     10   27  2015    True 2015-10-27
4    Closed      2    2  2014    True 2014-02-02

In [145]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
Customer Number    5 non-null int64
Customer Name      5 non-null object
2016               5 non-null float64
2017               5 non-null float64
Percent Growth     5 non-null float64
Jan Units          5 non-null object
Month              5 non-null int64
Day                5 non-null int64
Year               5 non-null int64
Active             5 non-null bool
Start_Date         5 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(3), int64(4), object(2)
memory usage: 429.0+ bytes
None

In [146]:
df['Jan Units'] = pd.to_numeric(df['Jan Units'],errors='coerce').fillna(0)

In [147]:
print(df)

   Customer Number     Customer Name      2016       2017  Percent Growth  \
0            10002  Quest Industries  125000.0   162500.0            0.30
1           552278    Smith Plumbing  920000.0  1012000.0            0.10
2            23477   ACME Industrial   50000.0    62500.0            0.25
3            24900        Brekke LTD  350000.0   490000.0            0.04
4           651029         Harbor Co   15000.0    12750.0           -0.15

   Jan Units  Month  Day  Year  Active Start_Date
0      500.0      1   10  2015    True 2015-01-10
1      700.0      6   15  2014    True 2014-06-15
2      125.0      3   29  2016    True 2016-03-29
3       75.0     10   27  2015    True 2015-10-27
4        0.0      2    2  2014    True 2014-02-02

In [148]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
Customer Number    5 non-null int64
Customer Name      5 non-null object
2016               5 non-null float64
2017               5 non-null float64
Percent Growth     5 non-null float64
Jan Units          5 non-null float64
Month              5 non-null int64
Day                5 non-null int64
Year               5 non-null int64
Active             5 non-null bool
Start_Date         5 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(4), int64(4), object(1)
memory usage: 449.0+ bytes
None