In [5]:
import pandas as pd
df = pd.read_csv('C:\\Users\\dpriyareddypothul\\documents\\M1M2\\DS-1\\Numpy\\master.csv')
print (df)

   First   Last
0  Divya  Reddy
1  Priya  Reddy
2     DP  Reddy

In [35]:
import pandas as pd
frompath1 = 'C:\\Users\\dpriyareddypothul\\documents\\M1M2\\DS-1\\Numpy\\master.csv'
topath2= 'C:\\Users\\dpriyareddypothul\\documents\\M1M2\\DS-1\\Numpy\\master3.csv'

def add_full_name(frompath,topath):
    df= pd.read_csv(frompath)
    df['nameFull'] = df['First']+ df['Last']
    df.to_csv('topath')
    
    

frompath1 = 'C:\\Users\\dpriyareddypothul\\documents\\M1M2\\DS-1\\Numpy\\master.csv'
topath2= 'C:\\Users\\dpriyareddypothul\\documents\\M1M2\\DS-1\\Numpy\\master3.csv'
add_full_name(frompath1,topath2)
df2= pd.read_csv('topath2')
print(df2)

   Unnamed: 0  Unnamed: 0.1  First   Last  nameFullex
0           0             0  Divya  Reddy  DivyaReddy
1           1             1  Priya  Reddy  PriyaReddy
2           2             2     DP  Reddy     DPReddy

In [25]:
df2=pd.read_csv('C:\\Users\\dpriyareddypothul\\documents\\M1M2\\DS-1\\Numpy\\master.csv')
print(df2)
df2['nameFull']= df2['First']+' '+df2['Last']
print(df2)
df2.to_csv('master3.csv')
df3= pd.read_csv('master3.csv')
print('\n data in df3 is\n\n',df3)

   Unnamed: 0  First   Last
0           0  Divya  Reddy
1           1  Priya  Reddy
2           2     DP  Reddy
   Unnamed: 0  First   Last     nameFull
0           0  Divya  Reddy  Divya Reddy
1           1  Priya  Reddy  Priya Reddy
2           2     DP  Reddy     DP Reddy

 data in df3 is

    Unnamed: 0  Unnamed: 0.1  First   Last     nameFull
0           0             0  Divya  Reddy  Divya Reddy
1           1             1  Priya  Reddy  Priya Reddy
2           2             2     DP  Reddy     DP Reddy